<p class="titulo">Iniciar Sesión</p>
<form action="/api/u/login" method="post"  class="contenedor">
    <label>Email</label>
    <input type="email" name="username" id="username" placeholder="ejemplo@mail.com">
    <label>Password</label>
    <input type="password" name="password" id="password" placeholder="Password">
    <input type="submit" class="boton" value="Ingresar">
</form>
<p class="titulo">¿No tienes una cuenta? Regístrate Ya!</p>
<div class="contenedor">
    <button class="boton"><a href="/api/u/registro">Regístrate</a></button>
</div>